main .section3 .sec3 {
    margin-bottom: 90px;
  }
  
  main .section3 .sec3 .top {
    display: flex;
    margin-top: 90px;
    margin-bottom: 48px;
  }
  
  main .section3 .sec3 .top img {
    width: 100%;
  }
  
  main .section3 .sec3 .top h2 {
    margin-right: 10px;
    width: 150px;
  }
  
  main .section3 .sec3 .bottom {
    width: 100%;
  }
  
  main .section3 .sec3 .bottom1 {
    margin-right: 10px;
  }
  
  main .section3 .sec3 .bottom2 {
    margin-left: 10px;
    padding-bottom: 20px;
  }
  
  main .section3 .sec3 .bottom .left {
    background-color: #BEF3C0;
    padding-top: 32px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 48px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    border-radius: 8px;
    transition: .5s;
  }
  
  main .section3 .sec3 .bottom .left:hover {
    box-shadow: 4px 2px 10px 3px rgb(232, 229, 229) ;
  }
  
  main .section3 .sec3 .bottom .left h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    font-variant: small-caps;
    color: #1D2130;
  }
  
  main .section3 .sec3 .bottom .left .sep {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D2130;
  }
  
  main .section3 .sec3 .bottom .left .centr p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D2130;
    margin-bottom: 10px;
  }
  
  main .section3 .sec3 .bottom .left .centr {
    display: flex;
  }
  
  main .section3 .sec3 .bottom .left .centr .c {
    margin-top: -5px;
    margin-left: 10px;
  }
  
  main .section3 .sec3 .bottom .left .say {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1D2130;
  }
  
  main .section3 .sec3 .flex {
    display: flex;
  }
  
  main .section3 .sec3 .bottom .left .bir {
    margin-right: 24px;
  }
  
  main .section3 .sec3 .bottom .left .ikki {
    margin-right: 24px;
  }
  
  main .section3 .sec3 .bottom .left .r {
    display: flex;
    align-items: center;
  }


  